* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.navber {
    position: fixed;
    display: block;
    /* height: 31px; */
    height: 67px;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
}

.nav-logo {
    width: 432px;
    /* height: 31px; */
    height: 67px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 85px;
    /* border: 1px solid red; */
}

.nav-logo img {
    height: 17px;
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 67px;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    padding: 0px 85px;
}

.nav-list ul li {
    display: flex;
    list-style: none;
}

.nav-list ul li a {
    text-decoration: none;
    padding: 0px 45px 0px 0px;

    color: #666;
    font-size: .9rem;
    transition: color .3s;
    display: inline-block;
    font-weight: 400;
}

.nav-list ul li a:hover {
    color: #387ed1;
}

/* hamburger start here */
.humbergar {
    /* display: block; */
    height: 12px;
    width: 30px;
    position: relative;
    cursor: pointer;
    margin: auto;

}

.humbergar .menu,
.humbergar::after,
.humbergar::before {
    content: '';
    display: block;
    height: 2px;
    width: 60%;
    background-color: #000000;
    margin: 4px 0px;
    transition: 0.4s;
    border-radius: 16px;
}

/* .humbergar.iss-active::before {
    transform: rotate(-27deg) translate(-5px, 10px);
}

.humbergar.iss-active::after {
    transform: rotate(27deg) translate(-5px, -10px);
}

.humbergar.iss-active .menu {
    opacity: 0;
} */

/* After hamburger click content  */
.hamburger-click-container.iss-active {
    top: 66px;
    margin-left: -677px;
}

.hamburger-click-container {

    height: 363px;
    width: 700px;
    /* display: block; */
    min-height: 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .1);
    transition: 1s
}

#click-cont.iss-active {
    display: block;
}

#click-cont {
    display: none;
}

/*  */
.first-item {
    display: flex;
    width: 700px;
    height: 146px;
    background-color: #fff;
    justify-content: space-around;
}

.first-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-decoration: none;
}

.first-item a span {
    color: #666;
    font-size: .9rem;
    font-weight: 500;
}

.first-item a img:hover {
    opacity: 0.9;

}

.first-item a span:hover {
    color: #387ed1;
}

.first-item a p {
    color: #666;
    font-size: .75rem;
    margin-top: 10px;
}

/*  */
.second-item {
    height: 217px;
    display: flex;
    background: #fafafb;
    padding: 33px 30px;
    justify-content: space-between;
}

.para-box {
    display: flex;
    flex-basis: 56.6666666667%;
    justify-content: space-between;
}

.first-box {
    flex-basis: 48%;
    width: 48%;
}

.second-box {
    flex-basis: 48%;
    width: 48%;
}

.third-item-content {
    display: flex;
    margin-top: 15px;
}

.third-item {
    width: 251px;
    padding-bottom: 29px;
}

.third-item-2 {
    padding: 0px 55px;
}

.first-box h3,
.second-box h3,
.third-item h3 {
    font-weight: 500;
    font-size: 17px;
    color: #666;
    padding-bottom: 11px;
}

.first-box p,
.second-box p,
.third-item-1 a p,
.third-item-2 a p {
    font-weight: 400;
    color: #666;
    font-size: .9rem;
    text-decoration: none;
    padding: 8px 0px;
}

.third-item-1 a,
.third-item-2 a {
    font-weight: 400;
    color: #666;
    font-size: .9rem;
    text-decoration: none;
}

.first-box a{
    text-decoration: none;
}
.first-box a p:hover{
    color: #387ed1;
}
.second-box a{
    text-decoration: none;
}
.second-box a p:hover{
    color: #387ed1;
}
.third-item-1:hover {
    opacity: 0.9;
}

.third-item-2:hover {
    opacity: 0.9;
}

.third-item-1 a p:hover {
    color: #387ed1;
}

.third-item-2 a p:hover {
    color: #387ed1;
}
/* Desktop Home section */
.mein-contaimer{
    /* margin-top: 10vh; */
    border: 2px solid red;
    width: 100%;
    /* height: 90vh; */
    top: 89px;
    position: absolute;
}
.mein-photo-item{
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}
.mein-photo{
    position: relative;
    width: 1100px;
    max-width: 100%;
}
.main-photo img{
    /* background-image: url(main\ desktop.png); */
    background-size: cover;
    margin-bottom: 60px;
    max-height: 45vh;
    margin: auto;
    display: flex;
}