* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    /* padding-top: 65px; */
    color: #424242;
    /* min-width: 350px; */
}

.navber {
    position: fixed;
    display: block;
    /* height: 31px; */
    height: 67px;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
}

.nav-logo {
    width: 432px;
    /* height: 31px; */
    height: 67px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 18px;
    margin: 0px 159px 0px 0px;
    /* border: 1px solid red; */
}

.nav-logo img {
    height: 17px;
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 67px;
    justify-content: center;
}

.nav-list {
    display: flex;
    /* padding: 0px 85px; */
    padding: 0px 0px 0px 38px;
}

.nav-list ul li {
    display: flex;
    list-style: none;
}

.nav-list ul li a {
    text-decoration: none;
    padding: 0px 45px 0px 0px;

    color: #666;
    font-size: .9rem;
    transition: color .3s;
    display: inline-block;
    font-weight: 400;
}

.nav-list ul li a:hover {
    color: #387ed1;
}

/* hamburger start here */
.humbergar {
    /* display: block; */
    height: 12px;
    width: 30px;
    position: relative;
    cursor: pointer;
    margin: auto;

}

.humbergar .menu,
.humbergar::after,
.humbergar::before {
    content: '';
    display: block;
    height: 2px;
    width: 60%;
    background-color: #000000;
    margin: 4px 0px;
    transition: 0.4s;
    border-radius: 16px;
}

/* .humbergar.iss-active::before {
    transform: rotate(-27deg) translate(-5px, 10px);
}

.humbergar.iss-active::after {
    transform: rotate(27deg) translate(-5px, -10px);
}

.humbergar.iss-active .menu {
    opacity: 0;
} */

/* After hamburger click content  */
.hamburger-click-container.iss-active {
    top: 66px;
    margin-left: -677px;
}

.hamburger-click-container {

    height: 363px;
    width: 700px;
    /* display: block; */
    min-height: 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .1);
    transition: 1s
}

#click-cont.iss-active {
    display: block;
}

#click-cont {
    display: none;
}

/*  */
.first-item {
    display: flex;
    width: 700px;
    height: 146px;
    background-color: #fff;
    justify-content: space-around;
}

.first-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-decoration: none;
}

.first-item a span {
    color: #666;
    font-size: .9rem;
    font-weight: 500;
}

.first-item a img:hover {
    opacity: 0.79;

}

.first-item a span:hover {
    color: #387ed1;
}

.first-item a p {
    color: #666;
    font-size: .75rem;
    margin-top: 10px;
}

/*  */
.second-item {
    height: 217px;
    display: flex;
    background: #fafafb;
    padding: 33px 30px;
    justify-content: space-between;
}

.para-box {
    display: flex;
    flex-basis: 56.6666666667%;
    justify-content: space-between;
}

.first-box {
    flex-basis: 48%;
    width: 48%;
}

.second-box {
    flex-basis: 48%;
    width: 48%;
}

.third-item-content {
    display: flex;
    margin-top: 15px;
}

.third-item {
    width: 251px;
    padding-bottom: 29px;
}

.third-item-2 {
    padding: 0px 55px;
}

.first-box h3,
.second-box h3,
.third-item h3 {
    font-weight: 500;
    font-size: 17px;
    color: #666;
    padding-bottom: 11px;
}

.first-box p,
.second-box p,
.third-item-1 a p,
.third-item-2 a p {
    font-weight: 400;
    color: #666;
    font-size: .9rem;
    text-decoration: none;
    padding: 8px 0px;
}

.third-item-1 a,
.third-item-2 a {
    font-weight: 400;
    color: #666;
    font-size: .9rem;
    text-decoration: none;
}

.first-box a {
    text-decoration: none;
}

.first-box a p:hover {
    color: #387ed1;
}

.second-box a {
    text-decoration: none;
}

.second-box a p:hover {
    color: #387ed1;
}

.third-item-1:hover {
    /* opacity: 0.9; */
    opacity: 0.79;
}

.third-item-2:hover {
    opacity: 0.79;
}

.third-item-1 a p:hover {
    color: #387ed1;
}

.third-item-2 a p:hover {
    color: #387ed1;
}

/* Desktop Home section */
.mein-contaimer {
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    /* border: 2px solid red; */

}

.main-photo-item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-photo-box {
    padding: 0px 0px 70px 0px;
}

.main-photo-box img {
    height: 45vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 70px 0px;
}

.home-content h1 {
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 500;
}

.home-content p {
    font-size: 20px;
    line-height: 3;
}

.home-content a {
    text-decoration: none;
}

.home-content a button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    height: 41px;
    width: 179px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 40px;
}

.home-content a button:hover {
    color: #eee;
    background-color: #000000;
}

/* Trophy section */
.trophy-container {
    padding: 120px 0px;
}

.trophy-content {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
}

.trophy-photo {
    width: 432px;
    height: 346px;
    margin: 0px 140px 0px 0px;
}

.trophy-photo img {
    max-width: 100%;
    padding: 34px 0px 0px 0px;
}

.thophy-details {
    width: 528px;
    height: 354px;
    /* border: 2px solid red; */
}

.thophy-details h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 3.5;
}

.thophy-details p {
    font-size: 16px;
    line-height: 1.8;
}

.trophy-row {
    display: flex;
    margin-top: 30px;
    line-height: 2;
    justify-content: center;
    padding-left: 12px;
}

.first-list,
.second-list {
    width: 253px;
    height: 123px;

}

.press-photo a img {
    width: 528px;
}

.press-photo a img:hover {
    opacity: 0.79;
}

/* Trust with confidence section (2)*/
.trust-client {
    margin-top: -19px;
}

.trust-client-container {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    padding: 0px 21px 0px 21px
}

.trust-client-photo img {
    height: 589px;
    width: 600px;
    padding: 30px 0px;
}

.trust-details-container {
    width: 432px;
    height: 656px;
    margin: 0px 62px 0px 0px;
    /* border: 2px solid red; */
}

.trust-details-container h2 {
    font-size: 31px;
    font-weight: 500;
    line-height: 3;
}

.trust-details-item-1,
.trust-details-item-2,
.trust-details-item-3,
.trust-details-item-4 {
    padding: 12px 0px;
}

.trust-details-item-1 h3,
.trust-details-item-2 h3,
.trust-details-item-3 h3,
.trust-details-item-4 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
}

.trust-details-item-1 p,
.trust-details-item-2 p,
.trust-details-item-3 p,
.trust-details-item-4 p {
    font-size: 16px;
    line-height: 1.8;
}

.trust-details-item-4 span a {
    text-decoration: none;
    font-weight: 500;
    color: #387ed1;
}

.trust-details-item-4 span a:hover {
    color: #000000;
}

.client-photo-2button a {
    text-decoration: none;
    font-size: 16px;
    color: #387ed1;
    font-weight: 500;
    padding: 0px 12px;
}

.client-photo-2button a:hover {
    color: #000000;
}

.client-photo-2button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* Unbeatable pricing section */
.pricing-container {
    display: flex;
    justify-content: center;
    margin-top: 89px;
    margin-bottom: 40px;
}

.pricing-details-container {
    display: flex;
}

.pricing-details-item-1 {
    width: 432px;
    height: 185px;
    margin: 0px 55px 0px 0px;
}

.pricing-details-item-1 h2 {
    font-size: 31px;
    font-weight: 500;
    line-height: 3;
}

.pricing-details-item-1 p {
    font-size: 16px;
    line-height: 1.8;
    margin: 0px 0px 20px 0px;
}

.pricing-details-item-1 a {
    text-decoration: none;
    font-size: 16px;
    color: #387ed1;
    font-weight: 500;

}

.pricing-details-item-1 a:hover {
    color: #000000;
}

.pricing-details-item-2 {
    width: 528px;
    height: 190px;
    margin-top: 18px;
}

.pricing-row-first-box,
.pricing-row-second-box {
    width: 253px;
    height: 190px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 22px 12px 0px 12px;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pricing-row-first-box h1,
.pricing-row-second-box h1 {
    font-size: 2.7rem;
    font-weight: 500;
    margin: 0px 0px 40px 0px;
}

.pricing-row-first-box p {
    line-height: 1.7;
}

.pricing-row-second-box {
    border-left: none;

}

/* Free and open market education section (4) */
.market-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 435px;
    width: 100%;
}

.education-photo {
    margin: 0px 138px 0px 0px;
}

.education-photo a img {
    height: 317px;
    width: 432px;
}

.marketing-details-cont {
    width: 528px;
    height: 290px;
}

.marketing-details-cont h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 3;
}

.marketing-details-box-1 {
    margin: 0px 0px 34px 0px;
}

.marketing-details-box-1 p,
.marketing-details-box-2 p {
    font-size: 16px;
    line-height: 1.8;
    margin: 0px 0px 19px 0px;
}

.marketing-details-box-1 a,
.marketing-details-box-2 a {
    text-decoration: none;
    font-size: 16px;
    color: #387ed1;
    font-weight: 500;
}

.marketing-details-box-1 :hover,
.marketing-details-box-2 a:hover {
    color: #000000;
}

/* Open account section */
.open-account {
    margin: 80px 0px 0px 0px;
}

.open-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
}

.open-account-container h1 {
    font-size: 30px;
    line-height: 3;
    font-weight: 500;
}

.open-account-container a button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    height: 41px;
    width: 179px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 40px;
}

.open-account-container a {
    text-decoration: none;
    margin: auto;
}

.open-account-container a button:hover {
    background-color: #000000;
}

/* footer */
.footer {
    background-color: #fafafb;
    padding: 24px 0 5px 0;
    border-top: 1px solid #eee;
}

.footer-first-container {
    display: flex;
    justify-content: center;
}

.first-footer-photo {
    padding: 10px 0;
}

.first-footer-item-1 img {
    max-height: 20px;
    width: auto;
}

.first-footer-item-1 p {
    font-size: 13px;
    color: #666;
    line-height: 1.8;
    margin: 0px 0px 19px 0px;

}

.first-footer-logo a i {
    font-size: 23px;
    padding: 0px 12px 0px 0px;
    color: #666;
}

.first-footer-logo a i:hover {
    color: #387ed1;
}

.first-footer-item-1 {
    height: 334px;
    width: 242px;
    /* border: 2px solid red; */
    padding: 8px 0px;
}

.first-footer-item-2 {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    height: 334px;
    width: 242px;
    /* border: 2px solid red; */
    padding: 8px 12px;
    margin: 0px 8px 0px 37px;
}

.first-footer-item-2 h3 {
    font-weight: 500;
    margin: 7px 0px 18px 0px;
    color: #4b4b4b;
}

.first-footer-item-2 a {
    text-decoration: none;
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.first-footer-item-2 a:hover {
    color: #387ed1;
}